$first_color: #111827; //rose pâle
$second_color: rgba(255, 255, 255, 0.966); //rouge vif
$third_color: rgba(255, 255, 255, 0.966);
$font_color: white;


$heart_color: linear-gradient(#ffe4e1, #ff4500);