<app-header></app-header>
<div class="post">
<form class="newPost" [formGroup]="createPost">
    <div class='form-control'>
        <img [src]="profil.imgprofile" alt="user img" class='imgProfile' /> 
    </div>    
    <div class='form-control'>
        <label for="attachement"></label>
        <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)">
        <button (click)="imageInput.click()">Ajouter une image</button>
        <img [src]="imagePreview" *ngIf="imagePreview" class="apercuImage">
    </div>    
    <div class='form-control'><button id='submit' type="submit" (click)="onSubmit()">Publier</button></div> 
</form>
</div>