form {
    width: 100%;

    .form-control {
        margin-bottom: 20px;
        display: flex;
        flex-flow: row wrap; 
        justify-content: space-evenly;
    }

        .imgProfile {
            width: 20%;
            border-radius: 50%;
        }

        input {
            width: 100%;
            border-radius: 15px;
            height: 40px;
        }

        input[type=file] {
            display: none;
        }

        #attachment {
            width: 100%;
            margin-bottom: 10px;
        }

        .apercuImage {
            width: 50%;
        }

        textarea {
            display: block;
            width: 60%;
            height: 50px;
            border: none;
            background-color: rgb(204, 204, 204);
            border-radius: 15px;
            resize: none;
            align-self: flex-end;
            padding: 10px;

                &::placeholder {
                    font-size: 20px;
                    padding: 10px 0px 0px 10px;
                }

                &:focus {
                    padding: 20px;
                    font-size: 16px;
                    font-family: 'Raleway';
                }
        }
}