form {
    width: 100%;

        input {
            width: 100%;
            height: 50px;
            border-top: none;
            border-left: none;
            border-right: none;
            margin-bottom: 10px;
        }

        #submit {
            border: none;
            border-radius: 10px;
            width: 100%;
            height: 30px;
            margin: 10px;

                &:hover {
                    background-color: grey;
                }
        }
}