header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid black;


    img {
        width: 200px;
        height: 200px;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            padding: 0px 10px 0px 10px;
        }

        a {
            text-decoration: none;
    
                &:visited {
                    color: black;
                }
        }

        .fas {
            color: white;

            &:before {
            transition: color 0.5s ease-out;
            }

            &:hover:before{
                color: $second_color;
                font-weight: bold;
                cursor: pointer;
            }
        }

    }
}