
<h2>Les derniers potins :</h2>
<section class="post" *ngFor="let message of allMessages">
    <div class="contenu">
        <img src='../../../assets/img/user test.png' alt="photo de profil du publicateur"/>
        <div class="content">{{ message.content }}</div>
        <div class="attachment">{{ message.attachment }}</div>   
    </div>
    <div class="interaction">
        <div class="comment"><i class="fas fa-reply"></i></div>
        <div class="like"><i [ngClass]="{ 'fas fa-heart': liked }"></i></div>
    </div>
</section>