<header>
<div class='logo'><img id="logo" src="../assets/img/icon-left-font-monochrome-white.svg" alt="Logo Groupomania"/></div>
<div class="nav">
    <div ><a routerLink='registerComponent' *ngIf='!auth'>Inscription</a></div>
    <div ><a routerLink='loginComponent' *ngIf='!auth'>Connexion</a></div>
    <div ><a routerLink='showProfileComponent' *ngIf='auth'><i class="fas fa-user fa-lg"></i></a></div>
    <div ><a routerLink="showPostComponent" *ngIf='auth'><i class="fas fa-comments fa-lg"></i></a></div>
    <div ><a routerLink='loginComponent' *ngIf='auth'><i class="fas fa-sign-out-alt fa-lg" (click)='onLogout()'></i></a></div>
</div>
</header>