h2 {
    text-align: center;
    color: $third_color;
}

.post {
    margin-top: 20px;
    width: 100%;
    border: 2px solid white;
    background-color: $first_color;
    border-radius: 10px;
    color: $third_color;

    .contenu {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .userIdentity {
        display: flex;
        flex-flow: row wrap;

            .userName {
                align-self: flex-start;
                margin-left: 20px;
            }

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
    }

    .content {
        width: 100%;
        text-align: center;
        margin: 20px 0px 0px 0px;
    }

    .attachment_post {
        display: block;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .interaction {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 10px;

            div {
                padding: 0px 10px 0px 10px;

                .fa-heart, .fa-reply, .fa-trash-alt, .fa-edit {
                    color: $second_color;

                    &:before {                    
                        transition: color 0.5s ease-out;
                    }

                    &:hover:before{
                        color: grey;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
    }

    .form-control {
        padding-bottom: 20px;
    }
}

.comment {
    margin: -1px 0px 0px 0px;
    width: 100%;
    border: 2px solid $second_color;
    background-color: $first_color;
    border-radius: 10px;
    color: $font_color;

    .contenu {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .userIdentity {
        display: flex;
        flex-flow: row wrap;

            .userName {
                align-self: flex-start;
                margin-left: 20px;
            }

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
    }

    .content {
        width: 100%;
        text-align: center;
        margin: 20px 0px 0px 0px;
    }

    .attachment_comment {
        display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }


    .interaction {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 10px;

            div {
                padding: 0px 10px 0px 10px;

                .fa-heart, .fa-reply, .fa-trash-alt, .fa-edit {
                    color: $third_color;
                    

                    &:before {                    
                        transition: color 0.5s ease-out;
                    }

                    &:hover:before{
                        color: grey;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
    }

    .form-control {
        padding-bottom: 20px;
    }
}

@media (max-width: 500px) {

    .post {
        padding: 0;

        img {
            padding: 10px;
            width: 200px;
        }

        .attachment_post {
            width: 200px;
        }

        .interaction {
            padding: 10px;
        }
    }

    .comment {  
        padding: 0;

        .attachment_comment {
            width: 200px;
        }

        .interaction {
            padding: 10px;
        }
    }
}
