.presentation {
    display: flex;
    border: 2px solid none;
    border-radius: 10px;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding: 10px 10px 20px 10px;
    color: $font_color;

    .imgProfile {
        width: 200px;
        align-items: left;
        border-radius: 50%;
        padding: 20px 20px 20px 20px;
    }

    .identite {
        display: block;
        align-self: center;
        width: 50%;
    }

    .lienApp {
        width: 100%;
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    .presentation {

        .imgProfile {
            width: 100px;
        }

        .identite {
            display: block;
            align-self: center;
            width: 50%;
        }
    }
}

@media (max-width: 500px) {
    .presentation {

        .imgProfile {
        width: 100px;
        }

        .identite {
            display: block;
            align-self: center;
            width: 50%;
            font-size: 14px;
        }
    }
}